/* IN COMUNE TRA LE PAGINE*/

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-weight: 200;
  font-size: 16px;
  background-image: url("./assets/bg.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  height: 100vh;
  position: relative;
}

header {
  position: absolute;
  top: 20px;
  left: 40px;
}

main {
  max-width: 900px;
  margin: 0 auto;
  padding: 80px 40px;
}

footer {
  position: absolute;
  bottom: 40px;
  left: 80px;
  right: 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer div {
  display: flex;
  align-items: center;
  gap: 10px;
}

h1,
h2 {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 60px;
  line-height: 1.1;
}

h2 {
  font-size: 40px;
  line-height: 1.1;
}

p {
  margin-top: 10px;
  line-height: 1.5;
}

h3 {
  font-size: 30px;
  margin-top: 20px;
  font-weight: 200;
}

span {
  font-weight: bold;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 20px;

  background: transparent;
  border: none;
  border-bottom: 2px solid #d20094;

  color: white;
}

input[type="checkbox"] {
  width: 16px;
  height: 16px;
  cursor: pointer;
  appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid white;
  background: transparent;
  cursor: pointer;
}

input[type="checkbox"]:checked {
  background-color: #00ffff;
  border-color: #00ffff;
}

.Logo {
  width: 200px;
}

.button {
  padding: 15px 40px;

  background: transparent;
  border: 2px solid white;
  color: white;

  font-weight: bold;
  cursor: pointer;
}

.button:hover {
  background-color: #00ffff;
  box-shadow: 0 0 20px #00ffff;
  color: black;
  border-color: black;
}

.fucsia {
  color: #d20094;
}


/* PRIMA PAGINA*/

.welcome-layout {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-60%, -50%);
}

/* SECONDA PAGINA*/

.quiz-layout {
  text-align: center;
  margin-top: 100px;
}

/* prova css bottoni risposte quiz*/
.answer {
  width: 300px;
  padding: 15px;
  margin: 10px;

  border-radius: 10px;
  border: 2px solid #ffffff4d;

  background: transparent;
  color: white;
}

.answer:hover {
  background: linear-gradient(to bottom, #d20094, #900080);
}
/* TERZA PAGINA*/

.result-layout {
  text-align: center;
  margin-top: 100px;
}

.torta {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: relative;

  background: conic-gradient(
    #00ffff 0% var(--percent),
    #d20094 var(--percent) 100%
  );
}
/* collegarla alle percentuali dei risultati in js */

/* QUARTA PAGINA*/

.feedback-layout {
  max-width: 800px;
  text-align: center;
  margin-top: 100px;
}

#stars span {
  font-size: 30px;
  color: #444;
  cursor: pointer;
}

.page4footer {
  position: absolute;
  bottom: 40px;
  left: 80px;
}

/* proprietá da attivare con js al click della stella scelta. La lascio commentata*/
 #stars .clicked {
  color: #00ffff;
}


