body {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  background-image: url("./assets/bg.jpg");
  background-size: cover;
  background-position: center;
  color: white;
}

h1,
h2 {
  font-family: "Outfit", sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 60px;
}

span {
  font-weight: bold;
}

.logo {
    /* aggiungere css logo */
}

.button {
  padding: 15px 40px;

  background: transparent;
  border: 2px solid white;
  color: white;

  font-weight: bold;
  cursor: pointer;
}

.button:hover {
  background-color: #00ffff;
  box-shadow: 0 0 20px #00ffff;
}

.answer {
  width: 300px;
  padding: 15px;
  margin: 10px;

  border-radius: 30px;
  border: 2px solid #ffffff4d;

  background: transparent;
  color: white;
}

.answer:hover {
  background: linear-gradient(to bottom #d20094, #900080);
}

.timer {
  background: conic-gradient(
    #00ffff 0% var(--percent),
    transparent var(--percent) 100%
  );
  /* collegarla al passare dei secondi in js */
}

.torta {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: relative;

  background: conic-gradient(
    #00ffff 0% var(--percent),
    #d20094 var(--percent) 100%
  );
}
/* collegarla alle percentuali dei risultati in js */

.stars {
  font-size: 30px;
  color: transparent;
  cursor: pointer;
}

.clicked {
  color: #00ffff;
}
