/* IN COMUNE TRA LE PAGINE*/

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-weight: 200;
  font-size: 16px;
  color: white;
  background-color: black;
}

body::before{
  content: "";
        position: fixed;
        inset: 0;
        background:
          radial-gradient(
            circle at 50% -20%,
            rgba(229, 9, 20, 0.35),
            transparent 60%
          ),
          radial-gradient(
            circle at 100% 100%,
            rgba(229, 9, 20, 0.15),
            transparent 70%
          ),
          linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 1)),
          url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'><g fill='none' fill-rule='evenodd'%3E%3Cg fill='%23ffffff' fill-opacity='0.015'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        background-size: cover;
        z-index: -1;
}


header {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 30px;
  background-color: black;
  width: 100%;
  padding-left: 20px;
}

.page {
  max-width: 900px;
  margin: 0 auto;
  padding: 60px;
  padding-top: 0;

  min-height: 100vh;

  display: flex;
  flex-direction: column;
}
/* .body .page {
  margin: 0 100px;
} */
.Logo {
  width: 150px;
}

/* FOOTER */

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 40px;
}

/* TITOLI */

h1,
h2 {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 60px;
  line-height: 1.1;
}

h2 {
  font-size: 40px;
  line-height: 1.1;
}

h3 {
  font-size: 30px;
  margin-top: 20px;
  font-weight: 200;
}

/* TESTI */

p {
  margin-top: 10px;
  line-height: 1.5;
}

span {
  font-weight: bold;
}

.red {
  color: red;
}

/* INPUT */

input {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background: transparent;
  border: none;
  border-bottom: 2px solid red;
  color: white;
}

/* BOTTONI */

.button {
  padding: 15px 40px;
  background: transparent;
  border: 2px solid white;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 8px;
  background-color: red;
}

.button:hover {
  background-color: #ed2b34;
  
  border-color: white;
}

/* ========================= */
/* PAGINA 1 - WELCOME */
/* ========================= */

.welcome-layout {
  max-width: 700px;
}

.Instruction {
  margin-top: 30px;
}

.Instruction ul {
  margin-top: 10px;
  padding-left: 20px;
}

.Instruction li {
  margin-bottom: 10px;
}

/* CHECKBOX */

input[type="checkbox"] {
  appearance: none;
  width: 16px;
  height: 16px;

  border: 2px solid white;
  background: transparent;

  cursor: pointer;
}

input[type="checkbox"]:checked {
  background-color: red;
  border-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="checkbox"]:checked::after {
  content: "✔";
  color: black;
  font-size: 20px;
  line-height: 1;
}

/* ========================= */
/* PAGINA 2 - QUIZ */
/* ========================= */

.quiz-layout {
  text-align: center;
}
.quiz-layout h2 {
  margin-top: 180px;
}

.page2footer {
  justify-content: center;
}

/*quiz buttons */
.answer-btn {
  width: 300px;
  padding: 15px;
  margin: 10px;
  border-radius: 50px;
  background: transparent;
  color: white;
  font-family: "Barlow", sans-serif;
  padding: 22px 32px;
  text-align: center;
  font-size: 1em;
  font-weight: 600;
  border: none;
  border-top: 3px solid #ffffff4d;
}

.answer-btn:hover {
  background: linear-gradient(to bottom, #d20094, #900080);
  border-bottom: 3px solid #d20094;
  border-top: 3px solid white;
}

.bordo {
  fill: none;
  /* stroke: white; */
  stroke: white;
  stroke-width: 10;
  transition: none;
  stroke-dasharray: 283;
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 0.9s linear;
  transform: rotate(-90deg);
  transform-origin: center;
}
.sfondo {
  fill: none;
  stroke: red;
  stroke-width: 10;
}
.timer {
  position: relative;
  width: 120px;
  height: 120px;
}
#numero {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  font-weight: bold;
}
.answers {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  width: 70%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}
.next-page-btn {
  display: block;
  margin: 3em auto;
  text-decoration: none;
  font-size: 0.7em;
}
/* ========================= */
/* PAGINA 3 - RESULT */
/* ========================= */

.result-layout {
  text-align: center;
}

.result-title {
  margin-bottom: 30px;
}

.result-title h2 {
  margin-bottom: 0;
  font-size: 50px;
}

.result-title h3 {
  margin-top: 0;
}

.result-layout section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;

  margin-top: 40px;
}

.result-layout section div {
  text-align: center;
}

.result-footer {
  justify-content: center;
}

/* torta */

.torta {
  width: 300px;
  height: 300px;
  border-radius: 50%;

  background: conic-gradient(
    #00ffff 0% var(--percent),
    #d20094 var(--percent) 100%
  );
}
.torta_text p {
  margin-left: 19px;
}
.torta_text {
  position: absolute;
}
.torta_text h6 {
  font-size: 16px;
  margin-left: 16px;
}
.torta_text h6 span {
  color: #06c6d8;
}

/* ========================= */
/* PAGINA 4 - FEEDBACK */
/* ========================= */

.feedback-layout {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}

/* stelle */

#stars span {
  margin-left: 10px;
  display: inline-block;
  font-size: 60px;
  color: #ccc;
  cursor: pointer;
  transition: transform 0.3s ease;
}

#stars .clicked {
  color: red;
}

.page4footer {
  justify-content: center;
}

.check {
  display: flex;
  align-items: center;
  gap: 8px;
}
#check {
  margin-top: auto;
  margin-bottom: auto;
}

#stars span.hovered {
  transform: scale(1.4);
}
