@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Trispace:wght@100..800&display=swap");
@font-face {
  font-family: BreakingBad;
  src: url(./Heart\ Breaking\ Bad.otf) format("truetype");
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  min-width: 1000px;
  font-family: "Montserrat", sans-serif;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2em;
  margin: 0;
  box-sizing: border-box;
}
.br-logo img {
  width: 250px;
  height: 120px;
}
header img {
  width: 200px;
  height: 160px;
}

.page2header,
.page3header,
.page4header {
  background-color: black;
}
/* .page2header {
  display: flex;
  align-items: center;
  justify-content: space-around;
} */
.bordo {
  fill: none;
  /* stroke: white; */
  stroke: white;
  stroke-width: 10;
  transition: none;
  stroke-dasharray: 283;
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 0.9s linear;
  transform: rotate(-90deg);
  transform-origin: center;
}
.sfondo {
  fill: none;
  stroke: #e50914;
  stroke-width: 10;
}
.timer {
  position: relative;
  width: 120px;
  height: 120px;
}
#numero {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  font-weight: bold;
}
.page {
  flex: 1;
  background-image:
    linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),
    url(./immagini-biagio/bg1.jpeg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
}
main {
  border: 1px solid black;
  width: 60%;
  max-width: 900px;
  margin: 10em 0;
  border-radius: 20px;
  box-shadow: 2px 2px 10px 2px black;
  background-color: rgba(255, 255, 255, 0.7);
  max-height: fit-content;
}
main:hover {
  cursor: url(./immagini-biagio/cursor.png), auto;
}
main h2 {
  text-align: center;
  font-size: 2.5em;
  background-color: green;
  font-weight: 400;
  color: white;
  width: fit-content;
  margin: 3em auto;
  padding: 0.3em;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 2px 2px 10px 2px black;
  font-family: "breakingBad", sans-serif;
}
.sbagliata {
  background-color: #e50914;
}

.corretta {
  background-color: green;
}

.sbagliata,
.corretta {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  width: 60%;
  padding: 0.2em;
  margin: 0 auto 1.5em;
  border-radius: 20px;
  font-size: 1.2em;
  font-weight: bold;
  transition: all 0.4s ease;
  display: none;
}
.sbagliata img,
.corretta img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 1.5em;
}
.answers {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2em;
  padding: 0 2em;
  margin-bottom: 3em;
}
.answer-btn {
  display: inline-block;
  padding: 1em 2em;
  border-radius: 10px;
  background-color: #d6b313;
  box-shadow: 2px 2px 10px 2px;
  font-weight: bold;
  font-size: 1.2em;
}
.answer-btn:hover {
  background-color: green;
  color: white;
  cursor: url(./immagini-biagio/cursor.png), auto;
}
.punteggio-counter p {
  text-align: center;
  font-weight: 600;
}

.end-btn-wrapper {
  display: flex;
  justify-content: space-around;
}

.btn {
  text-align: center;
  text-decoration: none;
  color: blue;
}
#back-btn {
  background-color: #187bc1;
  padding: 0.5em 1em;
  font-weight: 600;
  margin-left: 1em;
  border-radius: 5px;
  box-shadow: 2px 2px 10px 2px;
  color: white;
}
#back-btn:hover {
  cursor: pointer;
  background-color: #73c0f8;
  color: black;
}
/* .next-page-bt:hover,
button:hover {
  background-color: green;
  color: white;
  cursor: pointer; */
/*  */

footer {
  background-color: black;
  padding: 1em 0;
  display: flex;
  justify-content: space-around;
}
footer img {
  width: 100px;
  height: 90px;
  border-radius: 10px;
}
